#slider {
    width: 250px; /* important to be same as image width */
    height: 100px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
	z-index:1;
}
#sliderContent {
    width: 250px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0px;
	margin-top: 0px;
	z-index:5;
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    display: none;
}
.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
#slider ul{
list-style-type: none;
}
