
body{
	min-width: 960px;
	margin: 0 auto;
	padding: 0;
}
.clearer{
clear:both;
}
.outercontainer {
	width: 960px;
}
.outercontainer, .innercontainer{margin: 0 auto;padding: 0;}

/*MENU*/
.menucontainer{
	padding: 0;
	margin:0 auto;
	width: 960px;
}
#menu {margin: 0 auto;padding: 0; height: 60px;}

#menu ul.cms-menu-depth1
{list-style:none; margin: 0; padding: 0;}

#menu div.menu-div-depth2 > ul.cms-menu-depth2
{list-style:none; margin: 0;padding: 0; }
#menu ul.cms-menu-depth1 > li
{float: left;}
#menu div.menu-div-depth2 > ul.cms-menu-depth2 > li
{float: left;margin: 0;}
#menu div.menu-div-depth2 > ul.cms-menu-depth2 > li > a 
{padding: 20px;}
#menu ul.cms-menu-depth1 > li a div.cms-menu-item
{width: 100px; height: 50px;}

#menu div.menu-div-depth2
{display: none; position: absolute; top: 50px; padding: 10px}
#menu ul.cms-menu-depth1 > li:hover div.menu-div-depth2
{display: block;z-index: 999;}

#menu div.menu-div-depth3
{display: none; position: absolute; top: 40px;}
#menu ul.cms-menu-depth2 > li:hover div.menu-div-depth3 
{display: block; z-index: 9999;}

/* HEADER LAYOUT */
#header{height: 138px;margin: 0 auto; padding: 0 17%;}

/* CONTENT CSS */
.contentcontainer {margin: -10px auto; padding: 0;}
.contentcontainer #actionbar > div{float:right;}
.contentcontainer #leftContent { float:left; width: 140px; }
.contentinnertube #rightContent {margin: 0;}
.contentinnertube #quickhead {margin: 0 10px;}
.contentinnertube #right1{margin: 0 10px;}
.contentinnertube > div#rightContent {
	float:right;
	width: 240px;
	margin: 0;
	padding: 0;
}
.contentinnertube > div#centerContent,div#footerContent {overflow:hidden;}
.contentinnertube div#content { }
