body {
	background: #EAEAEA;

	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-x-system-font:none;
	
	font-family:normal Arial,Helvetica,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;

	padding:0;
}
# (line 32)

}

#header img {
	border:0;
}
/*ACTION BAR */
#actionbar {height: 16px;}
.contentcontainer div#actionbar a{
	color: black;
	padding: 0px 10px;
	text-decoration: none;
	font-size: 12px; 
	font-family:normal Arial,Helvetica,sans-serif;
	border: solid 1px white;
	vertical-align: middle;
}
/*MENUBAR */
#menubar cms-menuhead {
	color: black;
}
#menu .cms-menuhead {
	clear: both;
}
#menu a{
	text-align: center;
	color: white;
	text-decoration: none;
}
#menu a div.cms-menu-item
{background: url(../images/menu.jpg) no-repeat;margin: 3px; opacity: 0.7;}	
#menu a:hover div.cms-menu-item
{cursor: pointer; opacity: 1}
#menu div.menu-div-depth2
{background: #19110A; clear: both; -moz-border-radius: 10px;}
#menu ul.cms-menu-depth2 > li:hover div.menu-div-depth2 a
{color: white;}

#menu div.menu-div-depth3
{background: #19110A; clear: both; -moz-border-radius: 10px; padding: 10px;}
#menu div.menu-div-depth3 ul.cms-menu-depth3
{list-style: none; margin:0; padding:0;}

/*Quick links */
#quicklinks img, #quicklinks table, #quicklinks tr, #quicklinks td {
border:0;
}
#quicklinks img {
	border : 0;
}
#quicklinks {
	left: 25px;
	position: relative;
 	
}
#quicklinks td {
	background-color : #EAEAEA;
}
#quicklinks * { border : 0; border-color : #EAEAEA; }
/*CONTENT*/
.contentcontainer{
	color: #121212;
	background: #EAEAEA;
	font-family:normal Arial,Helvetica,sans-serif;
	font-size: 14px;
}
.cont{
	background: #fff;
	padding: 5px 10px;
	margin: 10px;
	border: solid 1px #D6D6D6;
}
#content {
	padding: 2px;
	line-height : 20px;
        text-align : justify;
        word-spacing : 1px;

}
#centerContent {
	border-radius: 5px 50px 5px 5px;
	-moz-border-radius: 5px 50px 5px 5px;
	-webkit-border-radius: 5px 50px 5px 5px;
}
#footerContent {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

h1,h2,h3,h4,h5,h6 {
	color: #D52300;
	font-family:normal Arial,Helvetica,sans-serif;
	padding-bottom: 0;
	margin-bottom: -1px;
}

.introbox
{
 border:groove black 2px; width: 305px; padding : 10px;float: left;
 margin-left : 10px; margin-top : 10px; background-color : #F5F5F5;
}
.introbox img
{
 border: 0 none;
 vertical-align : bottom !important;
}
.introbox h3
{
        background-color : #778899 !important;
        color : #FFFFFF !important;
        padding-left : 10px !important;
        font-weight : bold !important;
        text-decoration : none !important;
}
.introbox h4,h5
{
	color : #000 ;
	text-decoration : none;
	font-size : 13px;
	font-weight : normal;
	margin-top : 10px;
	
}
.introbox h4
{
	font-weight : bold !important;
}
.introbox a
{
 color : #FFFFFF;
}
.introbox a:active
{
 color : #FFFFFF;
}
.inrobox a:visited
{
 color : #FFFFFF;
}
.introbox a:hover
{
 color : #1C51A8;
}

blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	background-color: #999999;
	margin: 10px;
	padding: 0;
	border-radius: 5px 50px 5px 50px;
        -moz-border-radius: 5px 50px 5px 50px;
        -webkit-border-radius: 5px 50px 5px 50px;
	font-size : 19px;
	line-height : 25px;


}
span.quote {
	font-family : "Times New Roman";
	font-size : 30px;
}
blockquote p {
	margin: 10px 0px 0px 10px;
	padding: 10px 10px 0px;
	text-indent: 20px;
}
#quote_attrib {
	font-size: 70%;
	text-align: right;
	text-indent: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
}

