.menucontainer #topmenu-homebtn
{
	text-align : right;
	float : right;
}
.menucontainer #topmenu-homebtn img
{
	border : none;
	height : 30px;
	width : 30px;
}

.menucontainer {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.menucontainer img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.menucontainer ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	width: 920px;
	background: #222;
	font-size: 1.2em;
	background: url(../images/topnav_bg.gif) repeat-x;
	-moz-border-radius : 0em 0em 2em 2em;
	border-bottom-right : 0em 0em 2em 2em; 
	
}
.menucontainer ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
.menucontainer ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
.menucontainer ul.topnav li a:hover{
	background: url(../images/topnav_hover.gif) no-repeat center top;
}
.menucontainer ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center top;
}
.menucontainer ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
.menucontainer ul.subnav {
	position: absolute;
	left: 125px;
	top: -1px;
	display:none;
	z-index: 999;
}
.menucontainer ul.topnav > li > ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
.menucontainer ul.subnav > li > ul.subnav {
	margin-left: 5px;
	list-style: none;
}
.menucontainer ul.topnav li ul.subnav li{
	margin: 0; padding:0;;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html .menucontainer  ul.topnav > li > ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html .menucontainer  ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center; 
}

