[submodule "cms/templates/integriti"]
	path = cms/templates/integriti
	url = git@github.com:Integriti/pragyan-template-integriti.git
[submodule "cms/templates/jack"]
	path = cms/templates/jack
	url = git@github.com:Integriti/pragyan-template-jack.git
[submodule "cms/templates/pragyan2011"]
	path = cms/templates/pragyan2011
	url = git@github.com:Integriti/pragyan-template-pragyan2011.git
[submodule "cms/templates/blacksilver"]
	path = cms/templates/blacksilver
	url = git@github.com:Integriti/pragyan-template-blacksilver.git
