INSTALL-*
.htaccess
cms/config.inc.php
cms/modules/search/settings/database.php
cms/uploads/
INSTALL/.htaccess
INSTALL/config.inc-dist.php
INSTALL/export.sh
INSTALL/images/bg_instpage.jpg
INSTALL/images/bg_instpage_in.jpg
INSTALL/images/inst_footer.jpg
INSTALL/images/insterror.png
INSTALL/images/instsuccess.png
INSTALL/index.php
INSTALL/install.php
INSTALL/pragyan_inserts.sql
INSTALL/pragyan_structure.sql
INSTALL/searchStructure.php
INSTALL/settingsform.php
INSTALL/template.php
