div#cms-breadcrumb { width : 100%; height : 20px;  }
div#cms-breadcrumbsubmenu { width : 100%; height : 20px; }
div#cms-breadcrumb li { float : left; margin-left : 20px; } 
div#cms-breadcrumbsubmenu li { float : left; margin-left : 20px; } 
div#cms-actionbarModule, div#cms-actionbarPage { display: inline; float: right; }

.cms-actionbarPageItem, .cms-actionbarModuleItem{ padding: 0px 5px 0px 5px; border-left: 1px dotted #cccccc; }
.cms-actionbarPageItem:hover , .cms-actionbarModuleItem:hover{ background-color: #FFF; }
.cms-actionbarPageItem *:hover , .cms-actionbarModuleItem *:hover{ background-color: #FFF; }


div.cms-menu { margin: 0pt -10px 15px }
div.cms-menuhead {padding: 13px 15px 14px;font-size:120%; font-weight:bold; line-height:100%; background: #A0B9F3 url(../design/col_title_bg.gif) repeat-y scroll 0pt 0pt;margin : 0 -10px 15px; }
div.cms-menuitem {margin:4px 16pt; padding:0; border-bottom:1px solid #E0E8FA;}
div.cms-menuitem {display:block; padding:3px 0 3px 22px; background:url("../design/ico_archive.gif") 5px 6px no-repeat; text-decoration:none;}
div.cms-menuitem:hover {background-color:#D3DFF8; color:#192666;}
#col ul#category li#category-active a {background:#E0E8FA url("../design/ico_archive2.gif") 5px 50% no-repeat; font-weight:bold;}

div.articlecomment { font-size : 100%; border : 1px solid #B7CAF6; margin : 5px; padding : 5px; float: left; width: 90%;}
span.articlecomment_info { font-size : 90%; font-style : italic; }

div.galleryimagebox {
border : 1px solid #B7CAF6; float : left; margin : 5px; padding : 10px; width: 200px;
}
span.pragyangallery {margin:10px;}
