
#countdown_dashboard {
	height: 105px;
}

.dash {
	width: 50px;
	height: 50px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 10px;
	margin-bottom : 10px;
	position: relative;
	
}

.dash .digit {
	font-size : 30px;
	font-weight: bold;
	float: left;
	width: 15px;
	margin-left :7px;
	text-align: center;
	font-family: Times;
	color: white;
	position: relative;

}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	margin-left : 5px;
	margin-top : 5px;
	font-size: 11px;
	color: white;
	
	
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}


