/* TOP MENU  - --- HEADER MENU */
#quicklinks{
	padding: 1px 5px;
	border: 0;
	margin: 0;
	background: url(../images/quicklinks.jpg) repeat-x;
	color: white;
	font-family: sans-serif;
	font-size: normal;
	height: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;box-shadow: 1px 1px 5px #000;
	z-index: 1000;
}
#quicklinks div{
	float: right;
}
#quicklinks a{
	font-size: 13px;
	padding: 2px 4px;
	color: white;
	text-decoration: none;
	border: solid 1px transparent;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
	background-repeat: no-repeat;
	
}
#quicklinks span.qlinks {
	padding: 3px 10px;
	height: 20px;
}
#quicklinks div#linksid{
	position: absolute;
	top: 1px;
	font-size: 14px;
}
#quicklinks a span {
	position: relative;
	top: 1px;
}
#quicklinks a #link1{ background: url(../images/icons/fb.png);}
#quicklinks a:hover #link1{ background: url(../images/icons/fbh.png); }

#quicklinks a #link2{ background: url(../images/icons/su.png);}
#quicklinks a:hover #link2{ background: url(../images/icons/suh.png); }

#quicklinks a #link3{ background: url(../images/icons/mail.png);}
#quicklinks a:hover #link3{ background: url(../images/icons/mailh.png); }

#quicklinks a #link4{ background: url(../images/icons/twt.png); }
#quicklinks a:hover #link4{ background: url(../images/icons/twth.png); }

#quicklinks a #link5{ background: url(../images/icons/rss.png); }
#quicklinks a:hover #link5{ background: url(../images/icons/rssh.png); }

#quicklinks a #link6{ background: url(../images/icons/digg.png); }
#quicklinks a:hover #link6{ background: url(../images/icons/diggh.png); }

#quicklinks a #link7{ background: url(../images/icons/furl.png); }
#quicklinks a:hover #link7{ background: url(../images/icons/furlh.png); }

#quicklinks a #link8{ background: url(../images/icons/goo.png); }
#quicklinks a:hover #link8{ background: url(../images/icons/gooh.png); }

#quicklinks a #link9{ background: url(../images/icons/del.png); }
#quicklinks a:hover #link9{ background: url(../images/icons/delh.png); }

#quicklinks a #link10{ background: url(../images/icons/reditt.png); }
#quicklinks a:hover #link10{ background: url(../images/icons/reditth.png); }

#quicklinks a #link1, #quicklinks a #link2, #quicklinks a #link3, #quicklinks a #link4, #quicklinks a #link5 {
	background-repeat: no-repeat;
}
/**
	* Any Changes here will not be automatically reflected in script.js
	* They should be manually applied
	**/
#quicklinks div#cms-actionbarPage a:hover {
	background-color : white;
	color : black;
}

/*
 * Hard Coded Login Form
 */
#hc_loginform {
	position: absolute;
	background: #020202 url(../images/brd.jpg) repeat-x 0 0px;
	color: black;
	z-index: 1000;
	right: 2px;
	top: 0px;
	width: 270px;
	margin-top: 0px;
	padding: 5px;
	border: solid 2px #FFF;
	border-top:0;
	display:none;
	font-size: 13px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: none;
}
#hc_loginform * {
	color: white;
}
#hc_loginform fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
#hc_loginform #login_actual_form {
	margin-top: 30px;
}
#hc_loginform fieldset legend{
	display: none;
	visibility : hidden;
}
#hc_loginform table,#hc_loginform tr, #hc_loginform td{
	border:0;
}
#hc_loginform #login_menu {
	position: absolute;
	right: 15px;
	top: 10px;
}
#hc_loginform #login_menu a{
	color: white;
	text-decoration: none;
	font-size: small;
}
#hc_loginform #login_menu a > div {
	float: right;
	background: #247ebd;
	padding: 5px 15px;
	margin: 0;
	color: white;
}
#hc_loginform #login_menu a:hover > div {
	background: #247ebd url(../images/menu1.png) center center;
}
#hc_loginform a#pragyanLogin > div {
	border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
}
#hc_loginform a#openidLogin >div {
	border-radius: 15px 0 0 15px ;
	-moz-border-radius: 15px 0 0 15px ;
	-webkit-border-radius: 15px 0 0 15px ;
}
#hc_loginform tr{
	background: none;
	border: 0;
}
#hc_loginform input{
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: solid 2px transparent;
	position: relative;
	background: #222;
	top: -4px;
	color: white;
	font-size: 14px;
	font-family: verdana;
}
#hc_loginform input[type=text], #hc_loginform input[type=password] {
	width: 150px;
}
#hc_loginform #openid_choice > *{
	display: none;
}

/**
 * Hard Coded Profile Tab Form
 */
.cms-actionlogout {
display:none;
}
#hc_profile{
	position: absolute;
	background-color: #FFF;
	color: black;
	z-index: 1000;
	right: 2px;
	top: 0px;
	padding: 15px;
	margin-top: 26px;
	display:none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#hc_profile a{
	text-decoration: none;
	color: black;
	padding: 0;
	float: right;
	margin: 0;
}
#hc_profile a > div {
	width: 150px;
	text-align: center;
	background: #247ebd;
	padding: 5px;
	margin: 0;
	color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#hc_profile a:hover{
	color: black;
}

#hc_profile a:hover > div{
	background: #247ebd url(../images/menu1.png) center center;
}

/**
 * Left Menu 
 **/

.menucontainer {
	z-index: 10;
	margin: 0;
	padding: 30px 0;
	background: url(../images/side-menu.png);
}/*
.menucontainer:hover {
	background-position: 120px 0;
}*/
.menucontainer *{
	z-index: 999;
}

.menucontainer a{
	color: white;
	text-decoration: none;
}
.menucontainer ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.menucontainer ul.topnav {
	position: relative;
	z-index: 995;
}
.menucontainer ul.topnav > li {
	padding : 0px;
	position: relative;
	left: 0px;
	margin: 0;
	top: 1px;
}
.menucontainer ul.topnav > li > a > div > img {
	width: 15px;
	height: 15px;
}
.menucontainer ul.topnav > li > a div{
	margin: 0;
	padding: 0;
	padding-left: 5px;
	font-size: 13px;
	font-family: Verdana;
	color: #999;
	text-shadow: #000 0 0 1px;
	line-height: 30px;
}
/*
.menucontainer ul.topnav > li:hover {
	background: url(../images/menu.png) 0 -3px no-repeat;
}
*/
.menucontainer ul.topnav > li {
	backgroud: url(../images/side-menu-no-glow.png) no-repeat;
}

.menucontainer ul.topnav > li#cms-menu-item0{background-position: 0px -50px;}
.menucontainer ul.topnav > li#cms-menu-item1{background-position:  0px -80px;}
.menucontainer ul.topnav > li#cms-menu-item2{background-position:  0px -110px;}
.menucontainer ul.topnav > li#cms-menu-item3{background-position:  0px -140px;}
.menucontainer ul.topnav > li#cms-menu-item4{background-position:  0px -170px;}
.menucontainer ul.topnav > li#cms-menu-item5{background-position:  0px -200px;}
.menucontainer ul.topnav > li#cms-menu-item6{background-position:  0px -230px;}
.menucontainer ul.topnav > li#cms-menu-item7{background-position:  0px -260px;}
.menucontainer ul.topnav > li#cms-menu-item8{background-position:  0px -290px;}
.menucontainer ul.topnav > li#cms-menu-item9{background-position:  0px -320px;}
.menucontainer ul.topnav > li#cms-menu-item10{background-position: 0px -50px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item11{background-position:  0px -80px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item12{background-position:  0px -60px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item13{background-position:  0px -90px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item14{background-position:  0px -120px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item15{background-position:  0px -150px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item16{background-position:  0px -180px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item17{background-position:  0px -210px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item18{background-position:  0px -240px;display: none;}
.menucontainer ul.topnav > li#cms-menu-item19{background-position:  0px -270px;display: none;}

.menucontainer ul.topnav > li:hover {
	background: url(../images/side-menu-hover.png);
	z-index: 1000;
}
.menucontainer ul.topnav > li:hover > a > div {
	color: black;
}

.menucontainer ul.topnav > li#cms-menu-item0:hover{background-position: 0px -50px;}
.menucontainer ul.topnav > li#cms-menu-item1:hover{background-position:  0px -80px;}
.menucontainer ul.topnav > li#cms-menu-item2:hover{background-position:  0px -110px;}
.menucontainer ul.topnav > li#cms-menu-item3:hover{background-position:  0px -140px;}
.menucontainer ul.topnav > li#cms-menu-item4:hover{background-position:  0px -170px;}
.menucontainer ul.topnav > li#cms-menu-item5:hover{background-position:  0px -200px;}
.menucontainer ul.topnav > li#cms-menu-item6:hover{background-position:  0px -230px;}
.menucontainer ul.topnav > li#cms-menu-item7:hover{background-position:  0px -260px;}
.menucontainer ul.topnav > li#cms-menu-item8:hover{background-position:  0px -290px;}
.menucontainer ul.topnav > li#cms-menu-item9:hover{background-position:  0px -320px;}
.menucontainer ul.topnav > li#cms-menu-item10:hover{background-position:  0px 0px;}
.menucontainer ul.topnav > li#cms-menu-item11:hover{background-position:  0px -30px;}
.menucontainer ul.topnav > li#cms-menu-item12:hover{background-position:  0px -60px;}
.menucontainer ul.topnav > li#cms-menu-item13:hover{background-position:  0px -90px;}
.menucontainer ul.topnav > li#cms-menu-item14:hover{background-position:  0px -120px;}
.menucontainer ul.topnav > li#cms-menu-item15:hover{background-position:  0px -150px;}
.menucontainer ul.topnav > li#cms-menu-item16:hover{background-position:  0px -180px;}
.menucontainer ul.topnav > li#cms-menu-item17:hover{background-position:  0px -210px;}
.menucontainer ul.topnav > li#cms-menu-item18:hover{background-position:  0px -240px;}
.menucontainer ul.topnav > li#cms-menu-item19:hover{background-position:  0px -270px;}


.menucontainer ul.topnav > li#cms-menu-item1 > ul.depth2{background-position: 0px -30px;}
.menucontainer ul.topnav > li#cms-menu-item2 > ul.depth2{background-position:  0px -60px;}
.menucontainer ul.topnav > li#cms-menu-item3 > ul.depth2{background-position:  0px -90px;}
.menucontainer ul.topnav > li#cms-menu-item4 > ul.depth2{background-position:  0px -120px;}
.menucontainer ul.topnav > li#cms-menu-item5 > ul.depth2{background-position:  0px -150px;}
.menucontainer ul.topnav > li#cms-menu-item6 > ul.depth2{background-position:  0px -180px;}
.menucontainer ul.topnav > li#cms-menu-item7 > ul.depth2{background-position:  0px -210px;}
.menucontainer ul.topnav > li#cms-menu-item8 > ul.depth2{background-position:  0px -240px;}
.menucontainer ul.topnav > li#cms-menu-item9 > ul.depth2{background-position:  0px -270px;}


.menucontainer ul.subnav {
	position: absolute;
	display: none;
	z-index: 1005;
}
.menucontainer ul.topnav > li > ul.subnav {
	margin: 0 0 0 110px;
	top: 0;
	width: 608px;
	padding: 10px;
	padding-left: 60px;
	background: url(../images/sub-menu.png) top left no-repeat;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.menucontainer ul.subnav > li {
	float: left;
	margin:0;
	padding: 0;
}
.menucontainer ul.subnav > li > a > div{
	color: #111;
}
.menucontainer ul.subnav > li:hover > a > div{
	color: black;
	text-shadow: 0 0 5px #fff;
}
.menucontainer ul.depth2 > li > a > div {
	width: 200px;
	height: 43px;
	font: 14px small-caps;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 0 5px #000;
	padding: 0;
	padding-top: 37px;
	margin:0;
	text-align: center;
}
.menucontainer ul.depth2 > li > a > div > img {
	float: left;
	margin-top: -32px;
	margin-left: 84px;
	width: 32px;
	height: 32px;
}
.menucontainer ul.depth2 > li:hover{
	background: url(../images/rt.png) repeat;
}
.menucontainer ul.depth3 > li:hover > a > div{
	background: #a0a0a0;
}
.menucontainer li:hover > ul.subnav{
	display:block;
}
.menucontainer ul.depth3 {
	position: absolute;
	width: 154px;
	padding: 0;
	box-shadow: 2px 2px 4px #000;
	-moz-box-shadow: 2px 2px 4px #000;
	-webkit-box-shadow: 3px 3px 6px #000;
}
.menucontainer ul.depth3 > li{
	background : #7D7D7D;
	list-style: none;
	float: none;
}
.menucontainer ul.depth3 > li > a > div {
	font-size: 13px;
	line-height: 25px;
}
.menucontainer ul.depth3 > li > a > div > img{
	width: 20px;
	height: 20px;
}
.menucontainer ul.depth4, .menucontainer ul.depth4 ul.subnav{
	display: none;
	top: 0;
	left: 100%;
}
.cms-menuitem img {
	vertical-align : middle;
}
#cms-tabItem{
	padding: 7px;
	margin: 5px 3px;
	background: url(../images/tab.png);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;

}
.tabitemactive{
	background: url(../images/tabsel.png) !important;
}
#tabList{
	height: 50px;
	padding-top: 3px;
	padding-left: 3px;
	position:relative;
}
#tabList a{
	text-decoration:none !important;
	color:#FFF !important;
}
.tabElement{
	border:none !important;
	
}
