/* ::::: http://web.telia.com/~u88005282/style-master.css ::::: */

body, h1, h2, h3, h4, h5, h6, img, p, blockquote, dl, dt, dd, ul, ol, li, pre { margin: 0pt; padding: 0pt; border: 0pt none; }
body { background: url('hframe-bg.png') repeat-x scroll left top rgb(204, 204, 204); font: small/1.4 "Segoe UI","Trebuchet MS",Tahoma,sans-serif; }
div#footer { border-top: solid 2px rgb(255, 170, 0); margin-top: 8px; padding: 15px; }
div#framecontent { position: absolute; top: 0pt; bottom: 0pt; left: 0pt; width: 200px; height: 100%; overflow: hidden; background: url('frame-bg.png') repeat-y scroll right top transparent; }
div#framecontent div.cms-menuhead { height: 8px; margin-top: 0px; display: block; padding: 15px 10px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(187, 187, 187); background: url('tab-bg.png') repeat-x scroll left top rgb(238, 238, 238); color: rgb(102, 102, 102); font-weight: bold; text-decoration: none; }
div#framecontent div.cms-menuhead:hover { height: 8px; margin-top: 0px; border-top-color: rgb(255, 221, 102); border-bottom-color: rgb(221, 136, 0); background: url('tab-bg-on.png') repeat-x scroll left top rgb(255, 170, 0); color: rgb(255, 255, 255); }
div#framecontent div.cms-menuitem { display: block; padding: 15px 10px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(187, 187, 187); background: url('tab-bg.png') repeat-x scroll left top rgb(238, 238, 238); color: rgb(102, 102, 102); font-weight: bold; text-decoration: none; }
div#framecontent div.cms-menuitem:hover, div#framecontent div.active { border-top-color: rgb(255, 221, 102); border-bottom-color: rgb(221, 136, 0); background: url('tab-bg-on.png') repeat-x scroll left top rgb(255, 170, 0); color: rgb(255, 255, 255); }
div#hframecontent { position: absolute; top: 0pt; bottom: 0pt; left: 200px; right: 0px; height: 60px; overflow: hidden; border-left: 1px solid rgb(187, 187, 187); }
div#hframecontent a { height: 40px; display: block; float: left; padding: 20px 20px 0pt; border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(187, 187, 187); background: url('tab-bg.png') repeat-x scroll left top rgb(238, 238, 238); color: rgb(102, 102, 102); text-decoration: none; }
div#hframecontent span.cms-welcometext { display: none; }
div#hframecontent a:hover, div#hframecontent a:active, div#hframecontent a.active { border-left-color: rgb(255, 221, 102); border-right-color: rgb(221, 136, 0); background: url('tab-bg-on.png') repeat-x scroll left top rgb(255, 170, 0); color: rgb(255, 255, 255); }
div#maincontent { position: fixed; top: 60px; left: 200px; right: 0pt; bottom: 0pt; overflow: auto; border-left: 1px solid rgb(153, 153, 153); border-top: 1px solid rgb(153, 153, 153); background: url('maincontent-bg.png') no-repeat scroll left top rgb(255, 255, 255); }
div#maincontent div.innertube { padding-left: 35px; padding-top: 20px; }
div#maincontent h1, div#maincontent h2, div#maincontent h3, div#maincontent h4, div#maincontent h5, div#maincontent h6 { margin: 0.5em 0pt; color: rgb(0, 0, 0); border-bottom: 2px solid rgb(255, 170, 51); }
div#maincontent div.cms-warning { margin: 10px; padding: 8px; border-style: none; border-left: 5px solid rgb(255, 170, 0); background-color: rgb(255, 238, 187); }
div#maincontent div.cms-info { margin: 10px; padding: 8px; border-style: none; border-left: 5px solid rgb(102, 153, 255); background-color: rgb(233, 246, 255); }
div#maincontent div.cms-notice { margin: 10px; padding: 8px; border-style: none; border-left: 5px solid rgb(102, 153, 255); background-color: rgb(233, 246, 255); }
div#maincontent div.cms-error { margin: 10px; padding: 8px; border-style: none; border-left: 5px solid rgb(255, 0, 0); background-color: rgb(255, 221, 221); }
div#maincontent div.cms-info, div#maincontent div.cms-warning, div#maincontent div.cms-notice, div#maincontent div.cms-error { padding-left: 36px; }
div#maincontent a { color: rgb(204, 119, 0); text-decoration: none; }
div#maincontent a:hover, div#maincontent a:active { text-decoration: underline; }
div#maincontent ul { margin-left: 20px; }

div#cms-breadcrumb { margin: 0px; padding: 18px; padding-bottom: 6px; border-style: none; border-bottom: 4px solid rgb(255, 170, 0); background: rgb(255, 238, 187); display: block; }
div.bcenvelope { border-bottom: 2px dotted black; }
div#cms-breadcrumb ul li { margin: 7px; padding: 7px; display: inline; }
div#cms-breadcrumb ul li:hover { background: rgb(255, 210, 120); }
div#cms-breadcrumb ul li.selected { background: rgb(255, 170, 25); }
div#cms-breadcrumb a { color: #666666; }
div#cms-breadcrumb a:hover { text-decoration: none; }
div#cms-breadcrumb div { display: inline; }

div.cms-breadcrumbsubmenu { visibility: hidden; background: rgb(255, 170, 0); position: absolute; top: 42px; left: 0px; right: 0px; padding: 7px; border-bottom: 2px dotted black; }
div#cms-breadcrumb ul li ul li { margin: 2px; padding: 5px; -moz-border-radius: 8px; border-radius: 5px; display: inline; }
div#cms-breadcrumb ul li:hover > div.cms-breadcrumbsubmenu, div.cms-breadcrumbsubmenu:hover { visibility: visible; }

table {display:table; border-collapse:collapse; margin:15px 0; padding:0; border:1px solid rgb(255, 170, 0); font-size:100%;}
tr {display:table-row;}
th, td {display: table-cell; border:1px solid rgb(255, 238, 187); margin:0; padding:5px; vertical-align:top; text-align:left;}
th {background:rgb(255, 238, 187); text-align:center; color:#192666; font-weight:bold;}
table.iconspanel td:hover { background-color: rgb(240, 249, 255); }
.clearFloat { clear: both; display: block; }

fieldset { border-right: none; border-bottom: none; border-top: none; border-top: 2px solid rgb(102, 153, 255); border-left: 2px solid rgb(102, 153, 255); background: rgb(233, 246, 255); }

input, textarea, select { background-color: rgb(255, 255, 255); border: none; border-top: 1px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); font-size: 10px; margin: 2px; }
legend { font: bold; font-size: medium; color: rgb(102, 153, 255); }

table.quiz_wronganswer { background-color: rgb(255, 221, 221); }
table.quiz_rightanswer { background-color: rgb(233, 246, 255); }
