/*------------------------------------------------------------
Three-column layout e.g. for homepage
author:	Dan Jackson
email:	d.jackson@city.ac.uk
------------------------------------------------------------*/

/* import palette stylesheet */
@import url("default_palette.css");

/* =General settings & positioning
----------------------------------------------- */
body {
	background-color: #A3BAC5;
	margin:0 0 5px 0;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	background-image: url("../images/background.gif");
	background-repeat: repeat-x;
	text-align: center; /* for the benefit of IE5/Win */
}

#outer_wrapper {
	background-color: #FFF;
	height: auto;
	width: 770px;
	border: 1px solid #000;
	text-align:left;
	margin: 1em auto;	
}

#block_1
	{
	float: left;
	width: 220px;
	}

#block_2
	{
	float: left;
	width: 320px;
	}
* html #block_2
	{
	display: inline;
	}

#block_3
	{
	float: left;
	width: 230px;
	}

html>body #block_3 {
fl\oat:right; /*Opera 6 only */
}

#block_1, #block_2, #block_3 {
	background:#fff;
	}

#wrapper
	{
	width: 770px;
	}

/* easy clearing */
#wrapper:after
	{
	content: '[DO NOT LEAVE IT IS NOT REAL]'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
#wrapper
	{
	display: inline-table;
	border:0;
	}
/*\*/
#wrapper
	{
	display: block;
	}
/* end easy clearing */

#header, #footer
	{
	width: 770px;
	}
/* Safari needs this - otherwise the ghost overflow, though painted 
correctly obscures links and form elements that by rights should be above it.
An unintended side-effect is that it cause such elements to vanish in IE 5.01
and 5.5, hence the child selector hack */
* > #footer, * > form, * > #notes, * > .output
	{
	position: relative;
	z-index: 1000;
	}

/* =Skip navigation
----------------------------------------------- */
#skip a, #skip a:hover, #skip a:visited{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
}

#skip a:active {
position:static;
width:auto;
height:auto;
}


/* =Header
----------------------------------------------- */
#header {
	background-color: #fff;
	color:#000;
	padding: 5px 0px;
	height: 90px;
	width: 770px;
	background-image: url("../images/header_bb.gif");
	background-repeat: repeat-x;
	background-position: 0 90%;
}

#header img {
float:left;
margin-left:5px;
border:0;
}

#header a#homeLink {
border:0;
}

#header a:link, #block_2 a:link, p#siteLinks a:link {color: #000; text-decoration: underline;}     /* unvisited link */
#header a:link, #block_2 a:visited, p#siteLinks a:visited {color: #666; text-decoration: underline;}  /* visited link */

/* =Search
----------------------------------------------- */
#search {
	float:right;
	width:260px;
	height:40px;
	background-color:#E5F3F5;
	margin-top:10px;	
	}

#search form {
margin:10px 10px 0 20px;
}	

#search legend, #search label {display:none;}

#search fieldset {border:none;margin:0;padding:0;}

#q {
	background:#fff;
	border:1px solid #727172;
	font:0.9em Arial, Helvetica, sans-serif;
	padding:2px;
	width:150px
}

#q:focus, #q.fieldFocus {
	background:#EAE8F7;
}

#sButton {
	font:0.8em Arial, Helvetica, sans-serif;
	border:1px solid #727172;
	font-weight:bold;
	color:#fff;
	padding:1px 3px;
	background-color:#008b98;
	margin-left:5px;
	width:60px;
	cursor:pointer;
	}

#header p#siteLinks {
float:right;
clear:right;
width:260px;
text-align:left;
margin-top:5px;
}

/* =Flash content when Flash not installed
----------------------------------------------- */
#flashcontent {
	width: 320px;
	height: 335px;
	margin:0;
	padding:0;
	overflow:auto;
	display:inline-table; /* required for Opera 8.x on Mac */
	float:left; /* required for Opera 8.x on Mac */
	}

html>body #flashcontent {
height:a\uto; /* Opera 6 only */
}

#flashcontent p, #flashcontent h3 {
width:300px;
}

/* =For JavaScript alternative to Flash
----------------------------------------------- */
#block_2 ul#slideShow{
margin:0;
padding:0;
height:335px;
overflow:hidden;
}

#block_2 ul#slideShow li{
background-image:none;
padding:0;
list-style:none;
}

#block_2 ul#slideShow li img {
border:0;
padding:0;
margin:0;
}

/* =Left nav
----------------------------------------------- */
.left_content {
width:210px;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
margin:-3px 2px 0 4px;
clear:both;
}

.left_content h2{
padding: 3px 0 3px 5px;
margin:0 1px;
background-color:#218491;
font-size:125%;
}

ul#left_nav {
border-top:3px solid #1A6A74;
margin: 0 1px;
padding: 10px 0 0 0;
list-style: none;
background-color:#218491;
padding-bottom:115px;
}

ul#left_nav li {
display:block;
}

ul#left_nav li a {
display:block;
width:170px;
background:url("../images/bullet_black.gif") no-repeat 10px 50%;
margin:0;
padding:5px 5px 5px 23px;
}

ul#left_nav li a:link {color: #fff; text-decoration: none;}     /* unvisited link */
ul#left_nav li a:visited {color: #fff; text-decoration: none;}  /* visited link */

ul#subNav {
margin: 0;
padding: 0;
list-style: none;
}

ul#subNav li{

font-size:85%;
line-height:1.2em;
}

ul#subNav li a{
background:url("../images/sub_bullet_grey.gif") no-repeat 10px 50%;
width:166px;
padding:3px 5px 3px 27px;
}

ul#subNav li a:link {color: #000; text-decoration: none;}     /* unvisited link */
ul#subNav li a:visited {color: #000; text-decoration: none;}  /* visited link */

/* =Right column
----------------------------------------------- */

.rightnav {
width:220px;
margin-left:6px;
margin-top:-4px;
}

/* CSS Tabs */
#navcontainer {
        background: #fff;
        margin: 0;
}

/* to stretch the container div to contain floated list */
#navcontainer:after {
        content: "";
        display: block;
        line-height: 1px;
        clear: both;
}

ul#rightnav_list {
        list-style: none;
        padding: 0;
        margin:0 auto;
        width: 210px;
        font-size: 0.8em;
		font-weight:bold;
		z-index:1000;
}

ul#rightnav_list li {
        display: block;
        float: left;
        width: 105px;
        margin: 0;
        padding: 0;
}

ul#rightnav_list li a {
        display: block;
        width: 93px;
        padding: 5px 0 5px 10px;
        border-width: 1px;
        border-color: #ccc;
        border-style: solid;
        color: #333;
        text-decoration: none;
        background: #fff;
}

#navcontainer>ul#rightnav_list li a { width: auto; }

ul#rightnav_list li a.active {
        background: #9999CC;
        color: #fff;
}

ul#rightnav_list li a:hover, ul#rightnav_list li a.active:hover {
        color: #000;
		text-decoration:none;
        background: #CCCCFF;
        border-color: #666;
	}

ul#rightnav_list li a.active:hover {
        background: #9999CC;
        color: #fff;
}

dl.news_whatson
{
width: 210px;
overflow:auto;
margin:0;
height:270px;
min-height:260px;
border-top:3px solid #7C76B7;
padding-top:10px;
}

.news_whatson dt, .news_whatson dd {
font-size:75%;
/*width: 195px;*/
margin:0;
width:180px;
}

/* Moz only */
html>body .news_whatson dt, html>body .news_whatson dd {
font-size:80%;
}

.news_whatson dt
{
margin: 0;
padding:0 2px 0 6px;
font-weight: bold;
background-color:transparent;
}

.news_whatson dt a {
color:#7D76B7;
}

.news_whatson dd {
width: 180px;
margin: 0 0 1em 0;
padding:0 0 5px 6px;
border-bottom:1px dotted #ccc;
}

.news_whatson dd p {
margin:0;
}

.news_whatson dd:last-child {
border-bottom:none;
}

/* =Footer
----------------------------------------------- */
#footer
	{
	clear: both;
	height:260px;
	padding-bottom:5px;
	background-image:url("../images/skyline.jpg");
	background-repeat:no-repeat;
	background-position:bottom;
	color:#000;
	}

p#quicklinks {
height:113px;
margin:10px 0 0 0;
padding:0;
}

p#quicklinks a img{
margin:0 0 0 1px;
border:0;
width:127px;
height:113px;
float:left;
}

#footer h3 {
margin: 10px 0 0 8px;
color:#39A4B0;
background-color:transparent;
font-size:85%;
font-weight:bold;
text-transform:uppercase;
}

#footer dl {
margin:0 0 0 8px;
}

#footer dt {
color:#3399CC;
font-size:85%;
font-weight:bold;
float:left;
width:90px;
display:inline;
clear:left;
}

#footer dd {
font-size:85%;
margin:0;
}

#footer a {
color:#000;
background-color:transparent;
}

 /* =Legal links (bottom of page)
----------------------------------------------- */ 
p#notices {
	font-size:0.8em;
	font-weight:bold;
	color:#fff;
	background-color:transparent;
	}

p#notices a {
	color:#fff;
	background-color:transparent;
	text-decoration:underline;
	}

/* =CSS for expandable boxes. DO NOT TOUCH ANYTHING BELOW THIS LINE
----------------------------------------------- */ 

/* Default styling. Used when JavaScript is unsupported */
.cbb {

	background:#fff;
	border:1px solid #ccc;
	width:210px;
	margin-left:6px;
	margin-top:-4px;
	}

#block_1 .cbb {
width:200px;
}


/* Top border and right corner */ 
.bt { 
background:url("../images/grey_box.jpg") no-repeat 100% 0; 
margin:0 0 0 4px; 
height:5px; 
} 
/* Top left corner */ 
.bt div { 
/*height:5px; 
width:5px; */
position:relative; 
left:-45px; 
background:url("../images/grey_box.jpg") no-repeat 0 0; 
} 
/* Bottom border and right corner */ 
.bb { 
background:url("../images/grey_box.jpg") no-repeat 100% 100%; 
margin:0 0 0 5px; 
height:20px; 
} 
/* Bottom left corner */ 
.bb div { 
height:20px;  
width:5px; 
position:relative; 
left:-5px; 
background:url("../images/grey_box.jpg") no-repeat 0 100%; 
} 

/* Left border */ 
.i1 { 
padding:0 0 0 5px; 
background:url("../images/border_left.jpg") repeat-y 0 0; 
} 
/* Right border */ 
.i2 { 
padding:0 5px 0 0; 
background:url("../images/border_right.jpg") repeat-y 100% 0; 
} 
/* Wrapper for the content. Use it to set the background colour and insert some padding between the borders and the content. */
.i3 {
	background:#fff;
	border:1px solid #fff;
	border-width:1px 0;
	border-bottom:0;
	padding:0;
	}

/* as above, but for left nav (green) box */
#block_1 .bt { 
background:url("../images/green_box.gif") no-repeat 100% 0; 
} 
#block_1 .bt div{
background:url("../images/green_box.gif") no-repeat 0 0; 
}
#block_1 .bb{
background:url("../images/green_box.gif") no-repeat 100% 100%; 
height:50px
}
#block_1 .bb div{
background:url("../images/green_box.gif") no-repeat 0 100%;
width:6px;
height:50px
}