body {
	/*background: url(../images/light6.png) repeat;*/
	background-color: #000000;
	padding:0;
	margin: 0;
	min-width: 1050px;
	margin-bottom: 30px;
	margin-top: 25px;
	color: black;
	font-family: sans-serif;
}
body img 
{
	border : none;
}

.innercontainer {
	position: relative;
	top: -6px;
}
#header {
	margin: 0 ;
	border: 0;
	padding: 0;
	
}
#header img{
	border: 0;
}
#header #invisibleContainer {
	float: left;
	width: 100%;
	height: 180px;
	margin: 0;
	padding: 0;
	background: black url(../images/pragyan10-banner.jpg) no-repeat 0px 0px;
}
#header > #invisibleContainer #invisible {
	height: 175px;
	margin: 0;
	padding: 0;
	text-indent: -1000em;
}
#header #headerContent {
	float: right;
	width: 400px;
	height: 50px;
	border: solid 1px white;
}

/*
* Layout- Content, Menu, Right menu alignment 
*/

#leftContent {
	float:left;
	width: 180px;
}
#rightContent {
	float: right;
	width: 260px;
	position: absolute;
	top: 0px;
	right: 0;
	background: url(../images/rt.png);
	color: white;
	padding: 10px;
	font-size: small;
	
}
#centerContent {
	margin: 0px 10px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	margin-right: 270px;
}

/**
 * Common styling
 */
.clearer{
	clear: both;
	padding: 0;
	margin: 0;
}

/**
 * FOOTER
 */
.footercontainer{
	width: 100%;
	border: 0;
	padding: 2px 0;
	margin: 0;
	background: url(../images/quicklinks.jpg) repeat-x;
	color: white;
	font-family: sans-serif;
	font-size: small;
	height: 25px;
	text-align: left;
	position : fixed;
	bottom: -6px;
	text-align : center;
}
.footercontainer a{
	text-decoration: none;
	color: white;
	padding : 1px;
}
.footercontainer a:hover{
	background-color : #444;
	color: white;
}


/**
 * Introbox
 */
 
.introbox
{
 border:groove #777 2px; width: 315px; padding : 10px;float: left;
 margin-left : 10px; margin-top : 10px; background-color : transparent;
 
}
.introbox img
{
 border: 0 none;
 vertical-align : bottom !important;
}
.introbox h3
{
        background-color : #333 !important;
        color : #FFFFFF !important;
        padding : 5px  0px 5px 5px !important;
        font-weight : bold !important;
        text-decoration : none !important;
}
.introbox h4,h5
{
	text-decoration : none;
	font-size : 13px;
	font-weight : normal;
	margin-top : 10px;
	
}
.introbox h4
{
	font-weight : bold !important;
}
.introbox a
{
 color : #FFFFFF;
}
.introbox a:active
{
 color : #FFFFFF;
}
.inrobox a:visited
{
 color : #FFFFFF;
}
.introbox a:hover
{
 color : #1C51A8;
}

#right2 object {
	z-index: -100;
}
.Rblue > h3 {
	background: #136dac;
	padding: 2px 5px;
	position: relative;
	left: -10px;
	right: 0;
	width: 259px;
}
.Rblue div.link {
	background-color: transparent;
	width : 100%;
	padding : 3px 2px;
	
}
.Rblue a {
	text-decoration : none;
	color : #aaa;
	font-family : 'Lucida Grande','Lucida Sans Unicode',Verdana,Arial,Helvetica,sans-serif;
	font-size : small;
}
.Rblue div.link:hover {
	background-color : #136dac;
	color: white;
}

div.rtbt {
	float: left; 
	cursor: pointer;
}
div.rtbt h3 {
	background: none repeat scroll 0 0 #136DAC;
	padding: 2px 5px;
	margin-right : 7px;
}

/**
* For the registration page 
**/
form.cms-registrationform table,form.cms-registrationform tr,form.cms-registrationform td {
	border:0;
}
form.cms-registrationform input[type=text], form.cms-registrationform [type=password] {
	padding: 3px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
form.cms-registrationform {
	width: 100%;
}
form.cms-registrationform fieldset {
	border: 0;
}
form.cms-registrationform table{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	background: RGBA(150,150,150,0.1);
	font-size: 12px;
	margin: auto;
}
form.cms-registrationform tr{
	vertical-align: middle;
}
form.cms-registrationform fieldset legend{
	display:none;
}
form.cms-registrationform a{
	text-decoration: none;
	font-size: 10px;
	color: white;
}

/* Countdown */
#myCountDown {
font-size: 20px;
font-family: Verdana;
}

/*Extended Header */

div#exthead {
	height: 0px;
	position: relative;
	top: -1px;
	background: #EEE url(../images/shadow.png) no-repeat top center;
	border-bottom: solid 5px #136cab;
}
div.extendedContainer {
	display: none;
}

.extendHeadLink {
	position: absolute;
	left: 420px;
	top: -1px;
}
div.extendHead img {
	width: 12px;
	height: 12px;
	position: relative;
	top: 1px;
}
div.extendHead {
	padding: 2px 3px;
	line-height: 18px;
}
div.extendHeadLink a:hover div.extendHead {
	background: white;
	color: black;
}

/* 
Extended Content
*/
.extendedContainer {
	overflow: hidden;
}	
.extendedContent {
	width: 800px;
	margin: 0 auto;
}
.extC {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 250px;
}
.extC li {
	list-style: none;
	text-align: left;
	border: solid 1px transparent;
}
.extC li:hover {
	background: #247ebd;
	border-color: #000;
}
