body {
	/*background: #000000 url(../images/rep.jpg) repeat-x 1059px 20px;*/
	background: #000000 url(../images/background.png) no-repeat fixed; 
	padding:0;
	margin: 0;
	min-width: 960px;
	margin-bottom: 30px;
	margin-top: 30px;
	color: black;
	font-family: sans-serif;
}
body img 
{
	border : none;
}

.innercontainer {
	position: relative;
	top: -6px;
	/*background: url(../images/dark.png) no-repeat 0px -5px;*/
}
#header {
	margin: 0 ;
	border: 0;
	padding: 0;
}
#header img{
	border: 0;
}
#header #invisibleContainer {
	float: left;
	width: 100%;
	height: 140px;
	margin: 0;
	padding: 0;
}
#header > #invisibleContainer #invisible {
	height: 140px;

	margin: 0;
	padding: 0;
	text-indent: -1000em;
}
#header #headerContent {
	float: right;
	width: 400px;
	height: 50px;
	border: solid 1px white;
}

/*
* Layout- Content, Menu, Right menu alignment 
*/

#leftContent {
	float:left;
	width: 180px;
}
#rightContent {
	float: right;
	width: 250px;
	position: relative;
	top: -140px;
	background: url(../images/rt.png);
	color: white;
	padding: 10px;
	font-size: small;
	border-left: solid 1px white;
}
#centerContent {
	margin: 0px 10px;	
	padding-left: 20px;
	overflow: hidden;
}

/**
 * Common styling
 */
.clearer{
	clear: both;
	padding: 0;
	margin: 0;
}

/**
 * FOOTER
 */
.footercontainer{
	width: 100%;
	height: 25px;
	border: 0;
	padding: 3px 0;
	margin: 0;
	background: url(../images/quicklinks.jpg) repeat-x;
	color: white;
	font-family: sans-serif;
	font-size: small;
	height: 25px;
	text-align: left;
	position: fixed;
	bottom: -6px;
}
.footercontainer a{
	text-decoration: underline;
	color: white;
}


/**
 * Introbox
 */
 
.introbox
{
 border:groove black 2px; width: 305px; padding : 10px;float: left;
 margin-left : 10px; margin-top : 10px; background-color : #F5F5F5;
}
.introbox img
{
 border: 0 none;
 vertical-align : bottom !important;
}
.introbox h3
{
        background-color : #778899 !important;
        color : #FFFFFF !important;
        padding-left : 10px !important;
        font-weight : bold !important;
        text-decoration : none !important;
}
.introbox h4,h5
{
	color : #000 ;
	text-decoration : none;
	font-size : 13px;
	font-weight : normal;
	margin-top : 10px;
	
}
.introbox h4
{
	font-weight : bold !important;
}
.introbox a
{
 color : #FFFFFF;
}
.introbox a:active
{
 color : #FFFFFF;
}
.inrobox a:visited
{
 color : #FFFFFF;
}
.introbox a:hover
{
 color : #1C51A8;
}
