body {
	/*background: #000000 url(../images/rep.jpg) repeat-x 1059px 20px;*/
	background-color: #000000;
	padding:0;
	margin: 0;
	min-width: 960px;
	margin-bottom: 30px;
	margin-top: 30px;
	color: black;
	font-family: sans-serif;
}
body img 
{
	border : none;
}

.innercontainer {
	position: relative;
	top: -6px;
	/*background: url(../images/dark.png) no-repeat 0px -5px;*/
}
#header {
	margin: 0 ;
	border: 0;
	padding: 0;
	
}
#header img{
	border: 0;
}
#header #invisibleContainer {
	float: left;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	background: black url(../images/pragyan10-banner.png) no-repeat 0px 0px;
}
#header > #invisibleContainer #invisible {
	height: 200px;

	margin: 0;
	padding: 0;
	text-indent: -1000em;
}
#header #headerContent {
	float: right;
	width: 400px;
	height: 50px;
	border: solid 1px white;
}

/*
* Layout- Content, Menu, Right menu alignment 
*/

#leftContent {
	float:left;
	width: 180px;
}
#rightContent {
	float: right;
	width: 250px;
	position: relative;
	top: -200px;
	background: url(../images/rt.png);
	color: white;
	padding: 10px;
	font-size: small;
	
}
#centerContent {
	margin: 0px 10px;	
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

/**
 * Common styling
 */
.clearer{
	clear: both;
	padding: 0;
	margin: 0;
}

/**
 * FOOTER
 */
.footercontainer{
	width: 100%;
	height: 25px;
	border: 0;
	padding: 3px 0;
	margin: 0;
	background: url(../images/quicklinks.jpg) repeat-x;
	color: white;
	font-family: sans-serif;
	font-size: small;
	height: 25px;
	text-align: left;
	position : fixed;
	bottom: -6px;
	text-align : center;
}
.footercontainer a{
	text-decoration: none;
	color: white;
	padding : 1px;
}
.footercontainer a:hover{
	background-color : #444;
	color: white;
}


/**
 * Introbox
 */
 
.introbox
{
 border:groove black 2px; width: 315px; padding : 10px;float: left;
 margin-left : 10px; margin-top : 10px; background-color : #F5F5F5;
}
.introbox img
{
 border: 0 none;
 vertical-align : bottom !important;
}
.introbox h3
{
        background-color : #778899 !important;
        color : #FFFFFF !important;
        padding-left : 10px !important;
        font-weight : bold !important;
        text-decoration : none !important;
}
.introbox h4,h5
{
	color : #000 ;
	text-decoration : none;
	font-size : 13px;
	font-weight : normal;
	margin-top : 10px;
	
}
.introbox h4
{
	font-weight : bold !important;
}
.introbox a
{
 color : #FFFFFF;
}
.introbox a:active
{
 color : #FFFFFF;
}
.inrobox a:visited
{
 color : #FFFFFF;
}
.introbox a:hover
{
 color : #1C51A8;
}

#right2 object {
	z-index: -100;
}
#right3 div.link {
	
	background-color : transparent;
	width : 100%;
	padding : 3px;
	
}
#right3 div.link a {
	text-decoration : none;
	color : gray;
	font-family : 'Lucida Grande','Lucida Sans Unicode',Verdana,Arial,Helvetica,sans-serif;
	font-size : small;
}
#right3 div.link:hover {
	background-color : #444;
}

/**
* For the registration page 
**/
form.cms-registrationform table,form.cms-registrationform tr,form.cms-registrationform td {
	border:0;
}
form.cms-registrationform input[type=text], form.cms-registrationform [type=password] {
	padding: 3px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
form.cms-registrationform {
	width: 100%;
}
form.cms-registrationform fieldset {
	border: 0;
}
form.cms-registrationform table{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	background: RGBA(150,150,150,0.1);
	font-size: 12px;
	margin: auto;
}
form.cms-registrationform tr{
	height: 50px;
	vertical-align: middle;
}
form.cms-registrationform fieldset legend{
	display:none;
}
form.cms-registrationform a{
	text-decoration: none;
	font-size: 10px;
	color: white;
}
