/* TOP MENU  - --- HEADER MENU */
#quicklinks{
	padding: 1px 5px;
	border: 0;
	margin: 0;
	background: url(../images/quicklinks.jpg) repeat-x;
	color: white;
	font-family: sans-serif;
	font-size: normal;
	height: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
#quicklinks div{
	float: right;
}
#quicklinks a{
	font-size: 13px;
	padding: 2px 4px;
	color: white;
	text-decoration: none;
	border: solid 1px transparent;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
	background-repeat: no-repeat;
	
}
#quicklinks span.qlinks {
	padding: 3px 10px;
	height: 20px;
}
#quicklinks div#linksid{
	position: absolute;
	top: 1px;
	font-size: 14px;
}
#quicklinks a span {
	position: relative;
	top: 1px;
}
#quicklinks a #link1{ background: url(../images/icons/fb.png);}
#quicklinks a:hover #link1{ background: url(../images/icons/fbh.png); }

#quicklinks a #link2{ background: url(../images/icons/su.png);}
#quicklinks a:hover #link2{ background: url(../images/icons/suh.png); }

#quicklinks a #link3{ background: url(../images/icons/mail.png);}
#quicklinks a:hover #link3{ background: url(../images/icons/mailh.png); }

#quicklinks a #link4{ background: url(../images/icons/twt.png); }
#quicklinks a:hover #link4{ background: url(../images/icons/twth.png); }

#quicklinks a #link5{ background: url(../images/icons/rss.png); }
#quicklinks a:hover #link5{ background: url(../images/icons/rssh.png); }

#quicklinks a #link6{ background: url(../images/icons/digg.png); }
#quicklinks a:hover #link6{ background: url(../images/icons/diggh.png); }

#quicklinks a #link7{ background: url(../images/icons/furl.png); }
#quicklinks a:hover #link7{ background: url(../images/icons/furlh.png); }

#quicklinks a #link8{ background: url(../images/icons/goo.png); }
#quicklinks a:hover #link8{ background: url(../images/icons/gooh.png); }

#quicklinks a #link9{ background: url(../images/icons/del.png); }
#quicklinks a:hover #link9{ background: url(../images/icons/delh.png); }

#quicklinks a #link10{ background: url(../images/icons/reditt.png); }
#quicklinks a:hover #link10{ background: url(../images/icons/reditth.png); }

#quicklinks a #link1, #quicklinks a #link2, #quicklinks a #link3, #quicklinks a #link4, #quicklinks a #link5 {
	background-repeat: no-repeat;
}
/**
	* Any Changes here will not be automatically reflected in script.js
	* They should be manually applied
	**/
#quicklinks div#cms-actionbarPage a:hover {
	background-color : white;
	color : black;
}

/*
 * Hard Coded Login Form
 */
#hc_loginform {
	position: absolute;
	background: rgba(200,200,200,1);
	color: black;
	z-index: 1000;
	right: 2px;
	top: 0px;
	margin-top: 26px;
	padding: 5px;
	border: solid 1px #AAA;
	display:none;
	font-size: 13px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 25px;
}
#hc_loginform fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
#hc_loginform fieldset legend{
	display: none;
	visibility : hidden;
}
#hc_loginform table,#hc_loginform tr, #hc_loginform td{
	border:0;
}
#hc_loginform a{
	color: black;
	text-decoration: underline;
	padding: 3px;
	font-size: small;
}
#hc_loginform tr{
	background: rgba(200,200,200,1);
	border: 0;
}
#hc_loginform input[type="text"],#hc_loginform input[type="password"]{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 0;
	position: relative;
	top: -4px;
	color: black;
	background: white;
	font-size: 14px;
	font-family: verdana;
}
#hc_loginform #openid_choice > *{
	display: none;
}

/**
 * Hard Coded Profile Tab Form
 */
.cms-actionlogout {
display:none;
}
#hc_profile{
	position: absolute;
	background-color: #555;
	background: rgba(200,200,200,0.8);
	color: black;
	width: 150px;
	z-index: 1000;
	right: 2px;
	top: 0px;
	text-align: center;
	margin-top: 26px;
	padding: 10px 20px;
	border: solid 1px #AAA;
	display:none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 25px;
}
#hc_profile a{
	text-decoration: none;
	color: black;
}
#hc_profile a > div {
	width: 100%;
	margin: auto;
	background: rgba(200,200,200,0.8);
	margin: 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid 1px transparent;
}
#hc_profile a:hover{
	color: black;
}

#hc_profile a:hover > div{
	background: #FC9;
	border: solid 1px orange;
}

/**
 * Left Menu 
 **/

.menucontainer {
	z-index: 10;
	margin: 0;
	padding:0;
}
.menucontainer *{
	z-index: 999;
}

.menucontainer a{
	color: white;
	text-decoration: none;
}
.menucontainer ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.menucontainer ul.topnav {
	position: relative;
}
.menucontainer ul.topnav > li {
	
	background: url(../images/blue_dark.png) ;
	line-height: 0px;
	padding : 0px;
	position: relative;
	left: -2px;
}
.menucontainer ul.topnav > li > a > div > img {
	width: 20px;
	height: 20px;
}
.menucontainer ul.topnav > li > a div{
	padding: 5px;
	padding-left: 15px;
	font-size: 13px;
	font-family: Verdana;
	color: white;
}
.menucontainer ul.topnav > li:hover {
	background: url(../images/menu.png) 0 -3px no-repeat;
}
.menucontainer ul.subnav {
	background: url(../images/rt.png);
	position: absolute;
	display: none;
}
.menucontainer ul.topnav > li > ul.subnav {
	margin: 0 0 0 180px;
	top: 0;
	width: 750px;
	padding: 10px;
	background: rgba(2,2,2,0.95);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: solid 1px white;
}
.menucontainer ul.subnav > li {
	float: left;
	padding: 2px;
	border: solid 1px transparent;
}
.menucontainer ul.subnav > li > a > div{
	color: #AAA;
	padding: 8px;
}
.menucontainer ul.subnav > li:hover > a > div{
	background : rgba(36,115,189,0.1);
	/*color: #3488cc */
	color: #FFF;
}
.menucontainer ul.depth2 > li > a > div {
	border-top: solid transparent 1px;
	padding: 10px 10px;
}
.menucontainer ul.depth2 > li:hover > a > div {
	border-color: #247ebd;
} 
.menucontainer li:hover > ul.subnav{
	display:block;
}
.menucontainer ul.depth2 > li > a > div{
	width: 150px;
}
.menucontainer ul.depth3 {
	position: absolute;
	margin-top: -2px;
	width: 10px;
	border-left: solid #84cc3c;
}
.menucontainer ul.depth3 > li {

	background: rgba(10,10,10,1);
}
.menucontainer ul.depth3 > li > a > div {
	width: 150px;

}
.menucontainer ul.depth4, .menucontainer ul.depth4 ul.subnav{
	display: none;
	top: 0;
	left: 100%;
}
.cms-menuitem img {
	vertical-align : middle;
}
#cms-tabItem{
	padding: 7px;
	margin: 5px 3px;
	background: url(../images/tab.png);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;

}
.tabitemactive{
	background: url(../images/tabsel.png) !important;
}
#tabList{
	height: 50px;
	padding-top: 3px;
	padding-left: 3px;
	position:relative;
}
#tabList a{
	text-decoration:none !important;
	color:#FFF !important;
}
.tabElement{
	border:none !important;
	
}
