hr {	height : 1px;	border : 1px solid #eee;}
hr.side-hr {	height : 1px;	border : 1px solid #eee;}
td {	font-family : Verdana, Arial, Helvetica, sans-serif;	font-size : 11px;}
pre {	font-family : Verdana, Arial, Helvetica, sans-serif;	font-size : 11px;}

#bbeditor .alt {color : #005599;}
#bbeditor .outer-border {border : 1px solid #000;}
#bbeditor .sub-header {font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 10px;color : #000;background-color : #888;border-top : 1px solid #000;border-bottom : 1px solid #000;padding : 5px;}
#bbeditor .full-header {font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 10px;color : #ddd;background-color : #444;padding : 10px;}
#bbeditor .footer {font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 10px;color : #555;background-color : #f1f1f1;border : 1px solid #ccc;padding : 5px;}
#bbeditor .button {font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 10px;color : #555;background-color : #f1f1f1;height : 20px;border : 1px solid #ccc;margin-top : 2px;}
#bbeditor .textbox {font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 10px;color : #555;background-color : #f8f8f8;border : 1px solid #ccc;}
#bbeditor .main-body {font-size : 11px;color : #555;background-color : #fff;padding : 4px 0px 5px 0px;}
#bbeditor .side-body {font-size : 10px;color : #777;background-color : #f6f6f6;padding : 4px;}
#bbeditor .main-bg {color : #555;background-color : #fff;padding : 10px 5px 10px 5px;}
#bbeditor .border {border : 1px solid #e1e1e1;}
#bbeditor .side-border-left {color : #777;background-color : #fff;padding : 10px 5px 10px 10px;}
#bbeditor .side-border-right {color : #777;background-color : #fff;padding : 10px 10px 10px 5px;}
#bbeditor .news-footer {font-size : 10px;color : #555;background-color : #f1f1f1;padding : 3px 4px 4px 4px;}
#bbeditor .capmain {font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 11px;font-weight : bold;color : #666;background-color : #fff;padding : 2px 0px 4px 0px;}
#bbeditor .scapmain {font-family : Verdana, Arial, Helvetica, sans-serif;font-size : 10px;font-weight : bold;color : #666;background-color : #f1f1f1;border-bottom : 1px solid #e1e1e1;padding : 4px;}
#bbeditor .tbl-border {color : #555;background-color : #e1e1e1;}
#bbeditor .tbl {font-size : 11px;color : #555;background-color : #fff;padding : 4px;}
#bbeditor .tbl1 {font-size : 11px;color : #555;background-color : #fff;padding : 4px;}
#bbeditor .tbl2 {font-size : 11px;color : #555;background-color : #f1f1f1;padding : 4px;}
#bbeditor .forum-caption {font-size : 11px;font-weight : bold;color : #888;background-color : #f1f1f1;padding : 2px 4px 4px 4px;}
#bbeditor .quote {font-size : 11px;color : #555;background-color : #f8f8f8;padding : 4px;margin : 0px 20px 0px 20px;border : 1px solid #bbb;}
#bbeditor .poll {height : 12px;border : 1px solid #bbb;}
#bbeditor .comment-name {font-weight : bold;color : #005599;}
#bbeditor .shoutboxname {font-weight : bold;color : #005599;background-color : #f6f6f6;}
#bbeditor .shoutbox {color : #777;background-color : #f6f6f6;}
#bbeditor .shoutboxdate {font-size : 10px;color : #888;background-color : #f6f6f6;}
#bbeditor .small {font-size : 10px;font-weight : normal;}
#bbeditor .small2 {font-size : 10px;font-weight : normal;color : #555;}
#bbeditor .side-small {font-size : 10px;font-weight : normal;color : #555;background-color : #f6f6f6;}
#bbeditor .side-label {color : #555;background-color : #f1f1f1;padding : 2px 2px 3px 2px;}