# Created for checking mod_rewrite Please dont delete .htaccess
SetEnv HTTP_HTACCESS On
<IfModule mod_rewrite.c>
# Tell PHP that the mod_rewrite module is ENABLED.
    SetEnv HTTP_MOD_REWRITE On

    RewriteEngine on
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>
