#The my.cnf file to be put in the /etc/ in case you are running a linux server 
# or any other equivalent folder in case you running in some other OS 
#
# (Not necessary, use this file only if optimization is needed)


[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
old_passwords=1

#Options added by sahil start#####################

log      	  	= /var/log/mysqld/mysqld-all.log
log-error      	  	= /var/log/mysqld/mysqld-error.log
log_slow_queries	= /var/log/mysqld/mysqld-slow.log
long_query_time		= 1
pid-file		= /var/run/mysqld/mysqld.pid
bind-address		= 127.0.0.1
skip-locking
skip-innodb

# Try number of CPU's*2 for thread_concurrency
thread_concurrency 	= 4

max_allowed_packet 	= 8M
net_buffer_length 	= 2M
key_buffer		= 256M
table_cache 		= 256
sort_buffer_size 	= 8M
read_buffer_size 	= 8M
read_rnd_buffer_size 	= 16M
myisam_sort_buffer_size = 64M
join_buffer_size	= 512K
thread_cache_size 	= 8

query_cache_size	= 64M
query_cache_limit	= 8M
query_cache_type	= 1

#approx equal to maxClients of httpd.conf
max_connections		= 250
wait_timeout 		= 15
connect_timeout		= 10
interactive_timeout	= 100

#Options added by sahil end#######################


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
