div.actionbarcontainer div {
float :right;
}
div.actionbar div {
	float: left;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
}
div.actionbar div  span {
	float: left; 
}
	
div.actionbar div  span a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; 
}
div.actionbar div  span a:hover {
	color: #c00;
	background-color: #fff; 
}
div.actionbar div span a img {
	float: left;
	position: relative;
	top : -2px;
}
/*.actionbarcontainer {
	
}
.actionbar {
	width: 920px;
	margin: 0 auto;
}
.actionbar a {
	color: #aaa;
	font-size: 12px;
	font-family: sans-serif;
	padding: 5px;
}
.actionbar > div {
	float: left;
	padding: 0px 2px;
	line-height: 30px;
}

#cms-actionbarmodule {
	width: 120px;
}
.cms-actionbarModuleItem {
	padding: 5px;
}
.cms-actionbarModuleItem:hover {
	background: #000;
}
#cms-actionbarPage {
	width: 800px;
}
.cms-actionbarPageItem {
	padding: 5px;
}
.cms-actionbarPageItem:hover {
	background: #000;
}
*/
