#cms-breadcrumb {
 background-color : white;
}
#cms-breadcrumb ul, li {
 list-style-type:none;
 padding:0;
 margin:0;
}
#cms-breadcrumb ul {
 border:1px solid #dedede;
 height:2.3em;
}
#cms-breadcrumb ul li {
 float:left;
 line-height:2.3em;
 padding-left:.75em;
 color:#777;
}
#cms-breadcrumb ul li span a div{
 display:block;
 padding:0 15px 0 0;
 background:url(../images/crumbs.gif) no-repeat right center;
}

#cms-breadcrumb ul li span a:link div, #cms-breadcrumb ul li span a:visited div {
 text-decoration:none;
 color:#777;
}
#cms-breadcrumb ul li span a:hover div, #cms-breadcrumb ul li span a:focus div{
 color:#1d7ccc;
}

