/* Content Styling */

.contentcontainer {
	margin: 0 10px;
}	

.contentcontainer .topcontentbar {
	/*background: url(../images/content1.png);*/
	height:14px;
}

.contentcontainer .bottomcontentbar {
/*	background: url(../images/content2.png);*/
	height: 14px;
}
.contentcontainer #cms-content {
	
	margin-left: 180px;
	background: #f1f1f1;
	padding: 10px;
	border: solid 1px #aaa;

}

.contentcontainer #cms-leftcontent {
	
	margin: 0;
	background: #f1f1f1;
	padding: 10px;
	border: solid 1px #aaa;
	width : 150px;
	float : left;
}

