/*CSS Document*/
/* Contains Layout and global styling*/

/**
 * Cancel Some Annoying Stylings SHOULD BE THE FIRST
 */
div {
	margin: 0;
	padding: 0;
}
ul, li{
	margin: 0;
}

a {
	text-decoration: none;
	color: #006699;
}


body {
	background-color: #333;
	padding:0;
	width: 100%;
	margin: auto;
	color: black;
	font-family: arial, sans-serif;
	font-size : 12px;
	text-align: center;
	border-left: solid 1px #666;
	border-bottom: solid 1px #666;
	border-bottom: solid 1px #666;
}

body img 
{
	border : none;
}

body {
	text-align: left;
}

.outercontainer {
	background: #cdcdcd;
}

/**
 * Common styling
 */
.clearer{
	clear: both;
	padding: 0;
	margin: 0;
}


