ul.topnav {
	width: 100%;
	margin: 10px;
	border-style: solid solid none solid;
	border-color: #D8D5D1;
	border-size: 1px;
	border-width: 1px;
	list-style:none outside none;
	margin:0;
	padding:0;
	
	}
	
ul.topnav > li > a {
	height: 32px;
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
ul.topnav > li > a:link, ul.topnav > li > a:visited {
	color: #3688BA;
	display: block;
	background:  url(../images/menu.gif);
	padding: 8px 0 0 30px;
	}
	
ul.topnav > li > a:hover {
	color: #3688BA;
	background:  url(../images/menu.gif) 0 -32px;
	padding: 8px 0 0 30px;
	}

ul.subnav {
	padding : 0;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color  : #eee;
	
	
}

ul.subnav > li {
	height : 17px;
	border-top : solid 1px white;
	padding-left : 5px;
	padding-top : 2px;
}

ul.subnav > li:hover {
	background-color: #D8D5D1;
}

ul.subnav > li > a {
	color: #3688BA;
}
