/*
 *
 * Definitions for div.error, div.warning, div.notice
 *
 * All debug messages to be printed using
 *   <div class="error|warning|notice">Debug message here</div>
 * format
 *
 */

div.cms-error, div.cms-warning, div.cms-notice, div.cms-info {vertical-align: middle; margin: 11px; border-width: 1px; border-style: solid; z-index: 1; padding: 8px 8px 8px 58px; background-position: left 50%; background-repeat: no-repeat; min-height: 30px;-moz-opacity:.75; filter:alpha(opacity=75);color:#000}
div.cms-error { background-image: url('icons/32x32/status/dialog-error.png'); background-color: #ffe4c3; border-color: #ffb643 color:#023455;}
.cms-error, .cms-warning, .cms-notice, .cms-info a:link, .cms-info a:visited, .cms-info a{color:#023455;}
div.cms-warning { background-image: url('icons/32x32/status/dialog-warning.png'); background-color: #cccccc; border-color: #ffdc79 }
div.cms-notice { background-image: url('icons/32x32/status/dialog-information.png'); background-color: #dde4ef; border-color: #6894da }
div.cms-info { background-image: url('icons/32x32/status/dialog-information.png'); background-color: #dde4ef; border-color: #6894da }

/**
 * For the trees
 */
div#directorybrowser span {	background-color: none; display: block;	}
div#directorybrowser span:hover { background-color: #E8E8FF; }
span.ddtree_selected { background-color: #E8E8E8; }
span.ddtree_accessible { background-color: #E8FFE8; }
span.ddtree_inaccessible { background-color: #FFE8E8; }
.treeview ul{ margin-left: -10px; padding: 0px; }
.treeview li{ padding-top: 2px; padding-bottom: 2px; background: url(images/ddtree_list.gif) no-repeat left center; list-style-type: none; padding-left: 22px; }
.treeview li.submenu{ background: url('images/ddtree_closed.gif') no-repeat left 4px; }
.treeview li.submenu ul{ display: none; }
.treeview .submenu ul li{ cursor: default; }


/**
 * For the suggestion boxes
 */
div.suggestionbox {
	background-color: white; width: 260px; border: 1px solid black;
	position: absolute; overflow-y: scroll; max-height: 180px; display: none
}
span.suggestion {
	padding: 2px 4px 2px 4px;
	display: block;
	background-color: white;
	cursor: pointer;
}
span.suggestion:hover {
	background-color: #DEDEDE;
}

/**
 * For Billing
 */
table.billingtable tr.itemavailable {
	background-color: #F3FFF3;
}
table.billingtable tr.itemsoldout {
	background-color: #FFF3F3;
}
table.billingtable tr.shopname {
	background-color: #FFFFFF;
}
table.billingtable tr.shopname:hover {
	background-color: #FFFFFF;
}
table.billingtable tr:hover {
	background-color: #F3F3FF;
}